.confirmedMessage{
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #4BB543;
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  z-index: 1000;
}
.h1{
  position: 'relative'
}

@keyframes fadeOut {
  0% {opacity: 1; }  
  80% { opacity: 1; }
  100% { opacity: 0; }
}